<% layout('base') %> 
<h1><%= phone.name %></h1>

<form action="/phones/<%= phone._id %>?_method=PUT" method="post" class="row g-2 needs-validation" novalidate enctype="multipart/form-data">
    <div class="row g-2">
        <div class="col-md-4">
            <label for="name" class="form-label" class="form-label">Name:</label>
            <input type="text" name="name" id="name" required value="<%= phone.name %>" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="image" class="form-label">Additional Images:</label>
            <input type="file" name="image" id="image" class="form-control" multiple>
        </div>
    </div>
    
    <div class="row g-2">
        <div class="col-md-4">
            <label for="memory" class="form-label">Memory(RAM):</label>
            <select name="memory" id="memory" class="form-select" required>
                <% for( let m of memories ) { %>
                    <option value="<%= m %>" <%= phone.memory === m ? 'selected' : '' %>><%= m %></option>
                <% } %>
            </select>
        </div>

        <div class="col-md-4">
            <label for="storage" class="form-label">Stroage:</label>
            <select name="storage" id="storage" class="form-select" required value="<%= phone.storage %>">
                <% for( let s of storages ) { %>
                    <option value="<%= s %>" <%= phone.storage === s ? 'selected' : '' %>><%= s %></option>
                <% } %>
            </select>
        </div>
    </div>

    <div class="row g-2">
        <div class="col-4">
            <label for="processor" class="form-label">Processor:</label>
            <input type="text" name="processor" id="processor" class="form-control" required value="<%= phone.processor %>">
        </div>

        <div class="col-md-4">
            <label for="display" class="form-label">Display Size:</label>
            <input type="number" name="displaySize" id="display" class="form-control" step="any" required value="<%= phone.displaySize %>">
        </div>
    </div>

    <div class="row g-2">
        <div class="col-md-4">
            <label for="weight" class="form-label">Weight(grams):</label>
            <input type="number" name="weight" id="weight" class="form-control" step="any" value="<%= phone.weight %>">
        </div>
        
        <div class="col-md-4">
            <label for="colour" class="form-label">Colour:</label>
            <input type="text" name="colour" id="colour" class="form-control" value="<%= phone.colour %>">
        </div>
    </div>
    <div class="row g-2">
        <div class="col-4">
            <div class="form-check">
                <input type="checkbox" name="available" id="available" class="form-check-input" <%= phone.available ? 'checked' : '' %>>
                <label for="available" class="form-check-label">Available</label>
            </div>
        </div>
    </div>
    <div class="row g-2">
        <% phone.images.forEach((img, index) => { %>
        <img src="<%= img.url %>" alt="" class="img-thumbnail">
        <div class="form-check-inline">
            <input type="checkbox" name="deleteImages[]" id="image-<%= index %>" value="<%= img.filename %>">
            <label for="image-<%= index %>">Delete?</label>
        </div>
        <% }) %>
    </div>
    <div class="row g-2">
        <div class="col-12">
            <button class="btn btn-dark">Submit</button>
        </div>
    </div>
</form>