<% layout('base') %>

<link rel="stylesheet" href="/css/stars.css">

<div class="container">
  <div class="row">
    <div class="col-6">
      <h1 class="text-center"><%= phone.name %></h1>

      <div id="phoneCarousel" class="carousel carousel-dark slide">
        <div class="carousel-inner">
          <% phone.images.forEach((img, index) => {%>
            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
              <img src="<%= img.url %>" class="d-block w-100" alt="">
            </div>
          <% }) %>
        </div>
        <% if (phone.images.length > 1) { %>
          <button class="carousel-control-prev" type="button" data-bs-target="#phoneCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#phoneCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        <% } %>
      </div>
      
      <table class="table table-hover table-bordered">
          <tbody>
            <tr>
              <th scope="row">Memory</th>
              <td><%= phone.memory %> GB</td>
            </tr>
            <tr>
              <th scope="row">Storage</th>
              <td><%= phone.storage %> GB</td>
            </tr>
            <tr>
              <th scope="row">Processor</th>
              <td><%= phone.processor %></td>
            </tr>
            <tr>
              <th scope="row">Display size</th>
              <td><%= phone.displaySize %> inches</td>
            </tr>
            <tr>
              <th scope="row">Weight</th>
              <td><%= phone.weight %>g</td>
            </tr>
            <tr>
              <th scope="row">Colour</th>
              <td><%= phone.colour %></td>
            </tr>
            <tr>
              <th scope="row">Available</th>
              <td><%= phone.available %></td>
            </tr>
            <tr>
              <th scope="row">Created by</th>
              <td><%= phone.user.username %></td>
            </tr>
          </tbody>
      </table>
      <% if (user && phone.user._id.equals(user._id)) { %>
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <a href="/phones/<%= phone._id %>/edit" class="btn btn-primary">Edit</a>
          </div>
          <div class="ms-5">
            <form action="/phones/<%= phone._id %>?_method=DELETE" method="post">
                <button class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      <% } %>

    </div>
    <div class="col-6">
      <% if (user) { %>
        <div>
          <h2>Leave a Review</h2>
          <form action="/phones/<%= phone._id %>/reviews" class="needs-validation" method="post" novalidate>
            <fieldset class="starability-basic">
              <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="rating" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="rating" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="rating" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="rating" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="rating" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>

            <div>
              <label class="form-label" for="body">Review</label>
              <textarea class="form-control" name="body" id="body" cols="100" rows="5" required></textarea>
            </div>
        
            <button class="btn btn-success mt-3">Submit</button>
          </form>
        </div>
      <% } %>
      
      <div class="mt-5">
        <h2 class="mb-3">Reviews</h2>
        <% for(let review of phone.reviews) { %>
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title"><%= review.user.username %></h5>
              <p class="starability-result" data-rating="<%= review.rating %>">
                Rated: <%= review.rating %> stars
              </p>
              <!-- <h6 class="card-subtitle my-3 text-muted">By <%= review.user.username %></h6> -->
              <p class="card-text"><%= review.body %></p>
              <% if (user && review.user._id.equals(user._id)) { %>
                <form action="/phones/<%= phone._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                  <button class="btn btn-sm btn-danger">Delete</button>
                </form>
              <% } %>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    
    
  </div>
</div>
